// Colors
$dark: #303437;
$primary: #C95A5A;
$secondary: #F8E9A9;
$btn: #D96B6B;
$hover: #C85C5C;
$white: #ffffff;
$milk: #F8F7F3;

$color: #28343B;
$decor: #E8C96A;

// offset
$abs: absolute;
$ctr: center;